.header {
    background: #b71775;
    height: 100px;
  }
  
  .header h1 {
    margin-top: 0%;
    text-align: center;
    color: white;
    font-style: italic;
  }
  .header h2 {
    text-align: left;
    font-size: 25px;
    line-height: 0rem;
    margin-left: 80px;
   
  }