.navbar {
    background: black;
    height: 10px;
    font-weight: 500;
  }
  
  .navbar a {
    color: white;
    font-size: 23px;
    margin: 5px;
    margin-top: 0px;    
    margin-left: 50px;
    
    
  }
  .navbar a:hover {
    background-color: green;
  }