h1 {
    font-size: 25px;
    margin-bottom: 25px;
    margin-left: 47px;
}
.date {
    margin-left: 47px;
}
.notes {
    margin-left: 500px;
    padding-top: 40px;
}
.workTeam {
    margin-left: 47px;
    padding-top: 40px;
}
.quiz {
    margin-left: 500px;
    padding-top: 40px;
}