h1 {
    font-size: 25px;
    margin-bottom: 25px;
    margin-left: 47px;
}
.project1 {
    margin-left: 47px;
}
.project2 {
    margin-left: 500px;
    padding-top: 40px;
}
.project3 {
    margin-left: 47px;
    padding-top: 40px;
}