h1 {
    font-size: 50px;
    text-align: center;
}
.resume {
    font-size: 30px;
    margin-left: 610px;
    margin-top: 1000px;
}
.skillscontainer {
    margin-left: 40px;
}
.skills {
    margin-left: 40px;
}
